.ReactModalPortal>div{
    opacity:0;
}
.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    justify-content: center;
    display: flex;
    transition: opacity 400ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}
.modal{
    background: $widgetBackground;
    color: $subTitle;
    max-width: 35rem;
    text-align: center;
    outline: none;
    padding: $mSize;
}
.modal__title{
    margin: 0 0 $mSize 0;
}
.modal__body{
    margin: 0 0 $mSize 0;
    font-size: 2.5rem;
    font-weight: 400;
    word-break: break-all;
}